section.feature{
  border-top: $featureTopBorder;
  .feature-jeans{
    float: left;
    position: relative;
    cursor: pointer;
    padding-left: $featureJeansPaddingLeft;
    display: inline;
    img{
      width: $featureJeansImgWidth;
      height: $featureJeansImgHeight;
    }
    .jeans-heading{
      position:absolute;
      padding: $jeansHeadingPadding;
      top: $jeansHeadingTop;
      right: $jeansHeadingRight;
      background-color: $jeansHeadingBgColor;
      text-align: center;
      h1{
        font-size: $jeansHeadingFontSize;
        color: $jeansHeadingFontColor;
        font-weight: bold;
      }
      p{
        font-size: $jeansHeadingParaFontSize;
      }
      strong{
        color: $jeansHeadingParaStrongFontColor;
      }
      span{
        color: $jeansHeadingButtonFontColor;
        background-color: $jeansHeadingButtonColor;
        border-radius: $jeansHeadingButtonBorderRadius;
        margin-top: $jeansHeadingButtonTopMargin;
        padding: $jeansHeadingButtonPadding;
      }
    }
  }
  .feature-deals{
    margin-left: $featureDealsLeftMargin;
    float: left;
    width: $featureDealsWidth;
    a{
      text-decoration: none;
    }
    a div{
      padding: $featureDealsDivPadding;
      text-align: center;
      background-color: $featureDealsDivBgColor;
      h3{
        color: $featureDealsDivHeadingFontColor;
        font-weight: bold;
      }
      p{
        color: black;
      }
      img{
        margin: $featureDealsDivImgMargin;
        display: block;
      }
    }
    .shoes{
      margin-bottom: $featureDealsDivShoesBottomMargin;
      img{
        width: $featureDealsDivShoesImgWidth;
        height: $featureDealsDivShoesImgHeight;
      }
    }
    .furniture{
      img{
        width: $featureDealsDivFurnitureImgWidth;
        height: $featureDealsDivFurnitureImgHeight;
      }
      span{
        color: $featureDealsDivFurnitureSpanFontColor;
;
      }
    }
  }
}
