header{
  font-family: $headerFontFamily;
  margin: $headerMargin;
  nav.links{
    text-align: right;
    padding: $topNavPadding;
    background-color: rgba(0,0,0,0.8);
    li{
      display: inline;
      padding: $topNavListPadding;
      span{
        float: left;
      }
    }
    a{
      color: $topNavAnchorColor;
    }
  }
  nav.main-nav{
    padding: $mainNavPadding;
    li{
      cursor: pointer;
      display: inline;
      padding: $mainNavListPadding;
      color: $mainNavListColor;
    }
    a{
      color: $mainNavAnchorColor;
      font-weight: bold;
      font-size: $mainNavAnchorFontSize;
    }
    img{
      width: $mainNavImgWidth;
      height: $mainNavImgHeight;
      margin-right: $mainNavImgMarginRight;
    }
    .cart img{
      width: $mainNavCartImgWidth;
      height: $mainNavCartImgHeight;
    }
    form{
      display: inline;
      input{
        padding: $mainNavFormInputPadding;
        text-align: center;
        width: $mainNavFormInputWidth;
        border: $mainNavFormInputBorder;
        border-radius: $mainNavFormInputBorderRadius;
      }
    }
  }
}
