//HEADER VARIALBES
$headerFontFamily: sans-serif;
$headerMargin: 0;
$topNavPadding: 10px 5px;
$topNavListPadding: 25px;
$topNavAnchorColor: #fff;
$mainNavPadding: 10px 5px;
$mainNavListPadding: 30px;
$mainNavListColor: #CC0000;
$mainNavAnchorColor: #CC0000;
$mainNavAnchorFontSize: 17px;
$mainNavImgWidth: 20px;
$mainNavImgHeight: 20px;
$mainNavImgMarginRight: -40px;
$mainNavCartImgWidth: 25px;
$mainNavCartImgHeight: 25px;
$mainNavFormInputPadding: 10px 0;
$mainNavFormInputWidth: 625px;
$mainNavFormInputBorder: 1px solid #000;
$mainNavFormInputBorderRadius: 50px;

//FEATURE VARIABLES
$featureTopBorder: 1px solid rgba(0,0,0,0.3);
$featureJeansPaddingLeft: 35px;
$featureJeansImgWidth: 440px;
$featureJeansImgHeight: 680px;
$jeansHeadingPadding: 20px 30px;
$jeansHeadingTop: 175px;
$jeansHeadingRight: 250px;
$jeansHeadingBgColor: #fff;
$jeansHeadingFontSize: 3em;
$jeansHeadingFontColor: #1d2156;
$jeansHeadingParaFontSize: 18px;
$jeansHeadingParaStrongFontColor: #CC0000;
$jeansHeadingButtonFontColor: #fff;
$jeansHeadingButtonColor: #CC0000;
$jeansHeadingButtonBorderRadius: 5px;
$jeansHeadingButtonTopMargin: 5px;
$jeansHeadingButtonPadding: 15px;
$featureDealsLeftMargin: 2px;
$featureDealsWidth: 325px;
$featureDealsDivPadding: 15px;
$featureDealsDivBgColor: #eee;
$featureDealsDivHeadingFontColor: #CC0000;
$featureDealsDivImgMargin: 0 auto;
$featureDealsDivShoesBottomMargin: 2px;
$featureDealsDivShoesImgWidth: 125px;
$featureDealsDivShoesImgHeight: 125px;
$featureDealsDivFurnitureImgWidth: 150px;
$featureDealsDivFurnitureImgHeight: 150px;
$featureDealsDivFurnitureSpanFontColor: #000;
